SuiteUtility/HsmClient/src/wsdl/RemoteSignature.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://impl.ws.firmaremota.itagile.it/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://impl.ws.firmaremota.itagile.it/"
	name="remoteSignature">
	<import namespace="http://ws.firmaremota.itagile.it"
		location="https://test-firmaremota.ente.regione.emr.it:443/FirmaRemota/services/RemoteSignature?wsdl=1" />
	<binding xmlns:ns1="http://ws.firmaremota.itagile.it"
		name="remoteSignaturePortBinding" type="ns1:RemoteSignature">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="deleteUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="closeSignatureSession">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="openSignatureSession">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="signPDF">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="signCAdES">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="documentP7mInfo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="verifySignatures">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="documentPdfInfo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="documentXadesInfo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="verifyCertificate">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="verifyCertificateAtTime">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="signPKCS1">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="signPKCS1Array">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="timestampAttached">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="timestampDetached">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="timestampToken">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="timestampResponse">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="isModuleActive">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="signP7M">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="signPDFPath">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="signXAdES">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="getUserImages">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="setUserImage">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="getUsersDirectoryType">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="changePassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="changeUserPassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="digest">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="findUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
		<operation name="getCertificates">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="RemoteSignatureException_Exception">
				<soap:fault name="RemoteSignatureException_Exception"
					use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="remoteSignature">
		<port name="remoteSignaturePort"
			binding="tns:remoteSignaturePortBinding">
			<soap:address
				location="https://test-firmaremota.ente.regione.emr.it:443/FirmaRemota/services/RemoteSignature" />
		</port>
	</service>
</definitions>