SuiteUtility/SicraClient/src/main/resources/xsd/ricerca_voci_bilancio.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
          targetNamespace="http://sicraweb/RicercaVociBilancio" 
          xmlns="http://sicraweb/RicercaVociBilancio"
          elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"> -->
	<xsd:element name="richiesta">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="parte" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="E"/>
							<xsd:enumeration value="U"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="tipo_risultato" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="nome">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="XML"/> <!-- risultato come file XML restituito in chiaro -->
										<xsd:enumeration value="XML-ZIP-B64"/><!-- risultato come file XML zippato e convertito in base64-->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="codifica" type="xsd:string" minOccurs="0"/>
				<xsd:element name="annocompetenza" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="datavaluta" type="xsd:date" minOccurs="0"/>
				<xsd:element name="codresponsabileservizio" type="xsd:string" minOccurs="0"/>
				<xsd:element name="codresponsabileprocedimento" type="xsd:string" minOccurs="0"/>
				<xsd:element name="codmissione" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codprogramma" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codtitolo" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codmacroaggregato" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codtipologia" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codcategoria" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="numcapitolo" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="descrizione" type="xsd:string" minOccurs="0"/>
				<xsd:element name="codcentrocosto" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="siglacpt" type="xsd:string" minOccurs="0"/> <!-- di qualsiasi livello -->
				<xsd:element name="siglapianofinanziario" type="xsd:string" minOccurs="0"/> <!-- IV o V livello -->
				<xsd:element name="copfpv" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="codlavoro" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codtipospesa" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codtipofinanz" type="xsd:integer" minOccurs="0"/>
				<xsd:element name="codprogetto" type="xsd:integer" minOccurs="0" />
				<xsd:element name="flraggruppacentrocosto" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="flraggruppacpt" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="flraggruppapianofin" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="flraggruppafpv" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="flraggruppalavoro" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="flraggruppatipospesa" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="flraggruppatipofinanz" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="flraggruppaprogetto" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="aclbilancio" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Indica se filtrare i risultati considerando solamente i capitoli con ACL valida per
							l'utente della chiamata</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:enumeration value="0">
								<xsd:annotation>
									<xsd:documentation>NO (Valore di default se nullo)</xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
							<xsd:enumeration value="1">
								<xsd:annotation>
									<xsd:documentation>SI</xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="cup" type="xsd:string" minOccurs="0"/>
				<xsd:element name="flraggruppacup" minOccurs="0" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="0"/>
							<xsd:maxInclusive value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="risultato">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="esito">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="tipo">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="OK"/>
										<xsd:enumeration value="ERR"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="descrizione" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="lista_budget">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="budget" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="parte">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="E"/>
													<xsd:enumeration value="U"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="idcapitolo" type="xsd:long"/>
										<xsd:element name="codifica" type="xsd:string"/>
										<xsd:element name="descrizione" type="xsd:string"/>
										<xsd:element name="numcapitolo" type="xsd:int"/>
										<xsd:element name="annocompetenza" type="xsd:int"/>
										<xsd:element name="sigpianofincapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="despianofincapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="sigcptcapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="descptcapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="codrespservcapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="desrespservcapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="codrespproccapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="desrespproccapitolo" type="xsd:string" nillable="true"/>
										<xsd:element name="codcentrocosto" type="xsd:int" minOccurs="0"/>
										<xsd:element name="descentrocosto" type="xsd:string" minOccurs="0"/>
										<xsd:element name="sigcpt" type="xsd:string" minOccurs="0"/>
										<xsd:element name="descpt" type="xsd:string" minOccurs="0"/>
										<xsd:element name="sigpianofin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="despianofin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="idlavoro" type="xsd:int" minOccurs="0"/>
										<xsd:element name="codlavoro" type="xsd:int" minOccurs="0"/>
										<xsd:element name="deslavoro" type="xsd:string" minOccurs="0"/>
										<xsd:element name="idtipospesa" type="xsd:int" minOccurs="0"/>
										<xsd:element name="codtipospesa" type="xsd:int" minOccurs="0"/>
										<xsd:element name="destipospesa" type="xsd:string" minOccurs="0"/>
										<xsd:element name="idtipofinanz" type="xsd:int" minOccurs="0"/>
										<xsd:element name="codtipofinanz" type="xsd:int" minOccurs="0"/>
										<xsd:element name="destipofinanz" type="xsd:string" minOccurs="0"/>
										<xsd:element name="idprogetto" type="xsd:int" minOccurs="0"/>
										<xsd:element name="codprogetto" type="xsd:int" minOccurs="0"/>
										<xsd:element name="desprogetto" type="xsd:string" minOccurs="0"/>
										<xsd:element name="stanziamento" type="xsd:float"/>
										<xsd:element name="disponibile" type="xsd:float"/>
										<xsd:element name="impegnato" type="xsd:float"/>
										<xsd:element name="mandatiemessi" type="xsd:float"/>
										<xsd:element name="documentiaperti" type="xsd:float"/>
										<xsd:element name="prenotatodisponibile" type="xsd:float"/>
										<xsd:element name="copfpv" type="xsd:integer" minOccurs="0"/>
										<xsd:element name="descrizionebudget" type="xsd:string"/>
										<xsd:element name="cup" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="lista_budget_zip64">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="contenuto_zip64" type="xsd:string" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>