SuiteAuriga/AurigaBusiness/src/main/webapp/WEB-INF/wsdl/AggAnagrafeClassiDoc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WSAggiornaAnagrafeClassiDoc" targetNamespace="http://aggiornaanagrafeclassidoc.webservices.repository2.auriga.eng.it" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://aggiornaanagrafeclassidoc.webservices.repository2.auriga.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://aggiornaanagrafeclassidoc.webservices.repository2.auriga.eng.it">
	  <xs:simpleType name="ResultType">
      	<xs:restriction base="xs:string">
          <xs:enumeration value="OK">
		  	<xs:annotation>
			  <xs:documentation>Esito della richiesta: OK</xs:documentation>
		  	</xs:annotation>
		  </xs:enumeration>
		  <xs:enumeration value="KO">
		    <xs:annotation>
		      <xs:documentation>Esito della richiesta: KO</xs:documentation>
		    </xs:annotation>
		  </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ErrorType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="GAE-999">
            <xs:annotation>
              <xs:documentation>Errore generico</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="GAE-001">
            <xs:annotation>
              <xs:documentation>Dati obbligatori mancanti</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="GAE-002">
            <xs:annotation>
              <xs:documentation>Dati non coerenti</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="GAE-003">
            <xs:annotation>
              <xs:documentation>Modifica non consentita</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ClasseSottoclasseType">
        <xs:annotation>
          <xs:documentation>Contiene il data model di una classe o sottoclasse</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="Attributi">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Attributo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Label">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="64"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element minOccurs="0" name="RegExp">
                        <xs:annotation>
                          <xs:documentation>Espressione regolare di controllo</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="350"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="Tipo">
                        <xs:annotation>
                          <xs:documentation>Tipo di dato (stringa, numerico, ecc)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="Boolean"/>
                            <xs:pattern value="Double"/>
                            <xs:pattern value="ID"/>
                            <xs:pattern value="Integer"/>
                            <xs:pattern value="String"/>
                            <xs:pattern value="Time"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element minOccurs="0" name="Dimensione">
                        <xs:annotation>
                          <xs:documentation>Rappresenta la dimensione massima che può assumere l’attributo</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:positiveInteger">
                            <xs:totalDigits value="4"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="Ripetibile" type="xs:boolean">
                        <xs:annotation>
                          <xs:documentation>Indica se l'attributo è ripetibile
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element minOccurs="0" name="ValoriAmmessi">
                        <xs:annotation>
                          <xs:documentation>Se vi sono restrizioni sui valori ammessi dall'attributo qui sono riportati i valori ammessi
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="ValoreAmmesso">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1"/>
                                  <xs:maxLength value="255"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="nome" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="32"/>
                          <xs:whiteSpace value="collapse"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Tipologie">
            <xs:annotation>
              <xs:documentation>Tipologie documentali</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Tipologia">
                  <xs:complexType>
                    <xs:attribute name="id" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="30"/>
                          <xs:whiteSpace value="replace"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="descrizione" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="300"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="valida" type="xs:boolean" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="nome" use="required">
          <xs:annotation>
            <xs:documentation>Nome identificativo della classe o sottoclasse</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="300"/>
              <xs:whiteSpace value="collapse"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="descrizione" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="300"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
      <xs:element name="ResponseAggiornaAnagrafeClassiDoc">
        <xs:annotation>
          <xs:documentation>Root element della response della richiesta di aggiornamento dei dati delle classi documentali</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="0">
            <xs:element minOccurs="0" name="Errori">
              <xs:annotation>
                <xs:documentation>Errori rilevati che hanno determinato l'esito KO</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Errore">
                    <xs:annotation>
                      <xs:documentation>Messaggio di errore</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="codice" use="required" type="tns:ErrorType">
                            <xs:annotation>
                              <xs:documentation>Codice che identifica il tipo di errore riscontrato</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                          <xs:attribute name="nomeClasse" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Nome della classe su cui è stato riscontrato l'errore</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                          <xs:attribute name="nomeSottoclasse" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Nome della sottoclasse su cui è stato riscontrato l'errore</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                          <xs:attribute name="idTipologia" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Id, della tipologia su cui è stato riscontrato l'errore</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                          <xs:attribute name="nomeAttributo" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Nome identificativo dell'attributo su cui è stato riscontrato l'errore</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="esito" use="required" type="tns:ResultType">
            <xs:annotation>
              <xs:documentation>Esito della richiesta: OK = successo, KO = errore</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="RequestAggiornaAnagrafeClassiDoc">
        <xs:annotation>
          <xs:documentation>Root element della richiesta di aggiornamento di una di aggiornamento dei dati delle classi documentali</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Classi">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Classe">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="tns:ClasseSottoclasseType">
                          <xs:sequence minOccurs="0">
                            <xs:element minOccurs="0" name="SottoClassi">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element maxOccurs="unbounded" name="Sottoclasse" type="tns:ClasseSottoclasseType"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="AggiornaAnagrafeClassiDocIn">
    <wsdl:part element="tns:RequestAggiornaAnagrafeClassiDoc" name="parameter"/>
  </wsdl:message>
  <wsdl:message name="AggiornaAnagrafeClassiDocOut">
    <wsdl:part element="tns:ResponseAggiornaAnagrafeClassiDoc" name="parameter"/>
  </wsdl:message>
  <wsdl:portType name="AggiornaAnagrafeClassiDocPortType">
    <wsdl:operation name="AggiornaAnagrafeClassiDoc">
      <wsdl:input message="tns:AggiornaAnagrafeClassiDocIn" name="RequestAggiornaAnagrafeClassiDoc"/>
      <wsdl:output message="tns:AggiornaAnagrafeClassiDocOut" name="ResponseAggiornaAnagrafeClassiDoc"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AggiornaAnagrafeClassiDocSoapBinding" type="tns:AggiornaAnagrafeClassiDocPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AggiornaAnagrafeClassiDoc">
      <soap:operation soapAction="http://aggiornaanagrafeclassidoc.webservices.repository2.auriga.eng.it/AggiornaAnagrafeClassiDoc"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSAggiornaAnagrafeClassiDoc">
    <wsdl:port name="AggiornaAnagrafeClassiDocPort" binding="tns:AggiornaAnagrafeClassiDocSoapBinding">
      <soap:address location="http://aggiornaanagrafeclassidoc.webservices.repository2.auriga.eng.it"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>