SuiteAuriga/AurigaBusiness/src/main/webapp/WEB-INF/wsdl/FeedbackOperazioniAurigaLottiDoc.wsdl

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://operazioniaurigaFeedbackElabDocs.webservices.repository2.auriga.eng.it"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://operazioniaurigaFeedbackElabDocs.webservices.repository2.auriga.eng.it"
	name="WSFeedbackOperazioniAurigaLottiDoc">
	<wsp:Policy
		wsu:Id="FeedbackOperazioniAurigaLottiDocPortTypeBinding_MTOM_Policy">
		<ns1:OptimizedMimeSerialization
			xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
			wsp:Optional="true" />
	</wsp:Policy>
	<types>
		<xsd:schema
			targetNamespace="http://operazioniaurigaFeedbackElabDocs.webservices.repository2.auriga.eng.it">
			<xsd:element name="FaultActionsOnDocList" nillable="true">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="errCode" type="xsd:positiveInteger"
							form="qualified" />
						<xsd:element name="errMsg" type="xsd:string" form="qualified" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RequestFeedbackElabDocsList">
				<xsd:complexType>
					<xsd:sequence />
					<xsd:attribute name="TipoRichiesta" type="xsd:string"
						use="required" />
					<xsd:attribute name="IdLottoDoc" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ResponseReqFeedbackElabDocsList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RejectionMsg" minOccurs="0">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="xsd:string">
										<xsd:attribute name="errCode" type="xsd:integer"
											use="required" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="Status" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="FeedbackOperazioniAurigaLottiDoc">
		<part name="parameter" element="tns:RequestFeedbackElabDocsList" />
	</message>
	<message name="FeedbackOperazioniAurigaLottiDocResponse">
		<part name="parameter" element="tns:ResponseReqFeedbackElabDocsList" />
	</message>
	<message name="OperazioniAurigaLottiDocFault">
		<part name="fault" element="tns:FaultActionsOnDocList" />
	</message>
	<portType name="WSFeedbackOperazioniAurigaLottiDoc">
		<operation name="FeedbackOperazioniAurigaLottiDoc">
			<input
				wsam:Action="http://operazioniaurigaFeedbackElabDocs.webservices.repository2.auriga.eng.it/FeedbackOperazioniAurigaLottiDoc"
				message="tns:FeedbackOperazioniAurigaLottiDoc" />
			<output
				wsam:Action="http://operazioniaurigaFeedbackElabDocs.webservices.repository2.auriga.eng.it/WSFeedbackOperazioniAurigaLottiDoc/FeedbackOperazioniAurigaLottiDocResponse"
				message="tns:FeedbackOperazioniAurigaLottiDocResponse" />
			<fault message="tns:OperazioniAurigaLottiDocFault" name="OperazioniAurigaLottiDocFault"
				wsam:Action="http://operazioniaurigaFeedbackElabDocs.webservices.repository2.auriga.eng.it/WSFeedbackOperazioniAurigaLottiDoc/FeedbackOperazioniAurigaLottiDoc/Fault/OperazioniAurigaLottiDocFault" />
		</operation>
	</portType>
	<binding name="FeedbackOperazioniAurigaLottiDocPortTypeBinding"
		type="tns:WSFeedbackOperazioniAurigaLottiDoc">
		<wsp:PolicyReference
			URI="#FeedbackOperazioniAurigaLottiDocPortTypeBinding_MTOM_Policy" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="FeedbackOperazioniAurigaLottiDoc">
			<soap:operation
				soapAction="http://operazioniaurigaFeedbackElabDocs.webservices.repository2.auriga.eng.it/FeedbackOperazioniAurigaLottiDoc" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="OperazioniAurigaLottiDocFault">
				<soap:fault name="OperazioniAurigaLottiDocFault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="WSFeedbackOperazioniAurigaLottiDoc">
		<port name="FeedbackOperazioniAurigaLottiDocPortType" binding="tns:FeedbackOperazioniAurigaLottiDocPortTypeBinding">
			<soap:address
				location="http://172.27.1.139:8088/AurigaBusiness/soap/WSFeedbackOperazioniAurigaLottiDoc" />
		</port>
	</service>
</definitions>