SuiteAuriga/StiloActaJob/StiloActaUtil/src/main/java/it/eng/stilo/util/xsd/storage.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="fileSystemStorageConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="baseFolderPath" type="xs:string" />
				<xs:element name="repositoryLocations" type="xs:string" />
				<xs:element name="tempRepositoryBasePath" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>